.nav-slider-bar {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 1111;
}
.nav-slider-bar > * {
  margin-inline: auto;
  width: 20rem;
}
.nav-slider-bar > span {
  margin-top: 1rem;
}
.nav-links {
  margin: 2rem auto;
  cursor: pointer;
}
.nav-slider-bar .side-bar {
  display: inline;
}
