footer {
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}
.flex-colum > * {
  padding: 8px;
}
.side-footer {
  padding: 1rem;
}
.side-footer a {
  padding: 8px;
}
.flex-row {
  display: flex;
}
